@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Mukta', sans-serif;
}

body{
    --primary-color: #42b983;
    --secondary-color: #218e6c;
    --tertiary-color: #2b79e7;
    --white-color: #fff;
    --red-color: #ff0000;
    --anemo-color: rgb(45, 218, 183);
    --cryo-color: rgb(37, 197, 218);
    --pyro-color: rgb(226, 22, 22);
    --electro-color: rgb(181, 44, 223);
    --hydro-color: rgb(66, 93, 244);
    --geo-color: rgb(218, 149, 46);
    --dendro-color: rgb(53, 245, 63);
}